@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1>Creating a Story...</h1>
    <form>
        <div class="form-group">
            <label for="create-story-title">Story Title</label>
            <input type="text" class="form-control" id="create-story-title" placeholder="Enter Story Title">
            <small class="form-text text-muted">Max 80 characters.</small>
        </div>
        <div class="form-group">
            <label for="create-story-tags">Story Tags</label>
            <input type="text" class="form-control" id="create-story-tags" placeholder="Enter Story Tags">
            <small class="form-text text-muted">Comma separated. Max 5 tags.</small>
        </div>
        <div class="form-group">
            <label for="create-story-genres">Story Genres</label>
            <input type="text" class="form-control" id="create-story-genres" placeholder="Enter Story Genres">
            <small class="form-text text-muted">Comma separated. Max 3 genres.</small>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="create-story-chapter-check">
            <label class="form-check-label" for="create-story-chapter-check">Does your story include chapters?</label>
            <small class="form-text text-muted">Each chapter can be up to 4000 characters. Max 3 Chapters.</small>
        </div>
        <div class="form-group">
            <label for="create-story-story-content">Story Content</label>
            <textarea class="form-control" id="create-story-story-content" rows="3"></textarea>
        </div>
    </form>
</div>