@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4 mt-4 mb-4">Shortstories</h1>
        <a class="btn-primary" asp-controller="Story" asp-action="Create">Add Story</a>
    </div>
