@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="practiceGetRequest();">Press me!</button>
    <form id="firebase_form" novalidate>
        <input type="email" name="firebase_email" id="firebase_email" />
        <button type="submit" name="firebase_submit" id="firebase_submit"> Test firebase!</button>
    </form>
</div>
