@{
    ViewData["Title"] = "Home Page";
}

    <div id="home-page" class="text-center">
        <h1 class="display-4 mt-4 mb-4">Shortstories</h1>
        <a class="btn btn-primary" asp-controller="Story" asp-action="Create">Add Story</a>
        <div>
            <div class="border-bottom text-left">
                <h5 class="d-inline-block position-relative text-muted" style="left: 10px;">Followers</h5>
            </div>
            <div id="home-follower-stories" class="d-flex flex-wrap justify-content-center"></div>
        </div>
        <div>
            <div id="dropdownMenuButton" class="border-bottom text-left position-relative text-muted mb-2 dropdown-toggle" style="font-size: 20px; left: 10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">New</a>
                <a class="dropdown-item" href="#">Random</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Adventure</a>
                <a class="dropdown-item" href="#">Crime</a>
                <a class="dropdown-item" href="#">Dark</a>
                <a class="dropdown-item" href="#">Fantasy</a>
                <a class="dropdown-item" href="#">Fiction</a>
                <a class="dropdown-item" href="#">Horror</a>
                <a class="dropdown-item" href="#">Mystery</a>
                <a class="dropdown-item" href="#">MMO</a>
                <a class="dropdown-item" href="#">Non-fiction</a>
                <a class="dropdown-item" href="#">Romance</a>
                <a class="dropdown-item" href="#">Science Fiction</a>
                <a class="dropdown-item" href="#">Shooter</a>
                <a class="dropdown-item" href="#">Space</a>
                <a class="dropdown-item" href="#">Thriller</a>
                <a class="dropdown-item" href="#">War</a>
                <a class="dropdown-item" href="#">Western</a>
            </div>
            <div id="home-filter-stories">
            </div>
        </div>
    </div>
