@{
    ViewData["Title"] = "Home Page";
}

    <div id="home-page" class="text-center mb-4 mt-4">
        <h1 class="display-4 mb-4">Shortstories</h1>
        <a class="btn btn-outline-primary" asp-controller="Story" asp-action="Create">Add Story</a>
        <div class="mb-4 mt-4">
            <div class="border-bottom text-left">
                <h5 class="d-inline-block position-relative text-muted" style="font-size: 23px; left: 10px;">Followers</h5>
            </div>
            <div id="home-follower-stories" class="mt-2 mb-2"></div>
            <div id="home-no-follower-stories"></div>
        </div>
        <div class="mb-4 mt-4">
            <div style="position: relative; text-align: left;">
                <div class="border-bottom">
                    <button type="button" id="home-filter-title" class="d-inline-block position-relative text-muted pl-0" style="font-size: 23px; font-weight: 400; left: 10px; cursor: pointer; border: none; background-color: inherit;">New</button>
                    <i class="las la-angle-down ml-1" style="cursor: pointer;"></i>
                </div>
                <div class="home-genre-selection-container">
                    <p class="dropdown-item">New</p>
                    <p class="dropdown-item">Random</p>
                    <p class="dropdown-item">Action</p>
                    <p class="dropdown-item">Adventure</p>
                    <p class="dropdown-item">Crime</p>
                    <p class="dropdown-item">Dark</p>
                    <p class="dropdown-item">Fantasy</p>
                    <p class="dropdown-item">Fiction</p>
                    <p class="dropdown-item">Horror</p>
                    <p class="dropdown-item">Mystery</p>
                    <p class="dropdown-item">MMO</p>
                    <p class="dropdown-item">Non-fiction</p>
                    <p class="dropdown-item">Romance</p>
                    <p class="dropdown-item">Science Fiction</p>
                    <p class="dropdown-item">Shooter</p>
                    <p class="dropdown-item">Space</p>
                    <p class="dropdown-item">Thriller</p>
                    <p class="dropdown-item">War</p>
                    <p class="dropdown-item">Western</p>
                </div>
            </div>
            <div id="home-filter-stories" class="mb-2 mt-2"></div>
            <div id="home-no-genre-stories"></div>
        </div>
    </div>
