@{
    ViewData["Title"] = "Home Page";
}

@model List<StoryModel>
    <div class="text-center">
        <h1 class="display-4 mt-4 mb-4">Shortstories</h1>
        <a class="btn-primary" asp-controller="Story" asp-action="Create">Add Story</a>
        @foreach (var story in Model)
        {
            @await Component.InvokeAsync("StoryThumbnail", new { storyData = story })
        }
    </div>
