<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - shortstories</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/header.css" />
        <link rel="stylesheet" href="~/css/profile.css" />
        <link rel="stylesheet" href="~/css/story.css" />
    </environment>
</head>
<body onload="pageLoadFunction()">
    @await Component.InvokeAsync("Header")
    <div class="container-fluid">
        <div style="width: 85%; margin: 0 auto;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
    </div>
    @await Component.InvokeAsync("Footer")
    <script src="~/js/Firebase.js" asp-append-version="true"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script>
        // Firebase object configuration
        const firebaseInstance = new Firebase();
        // Initialize Firebase
        firebaseInstance.initialize();
        firebaseInstance.onAuthStateChanged();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/Register.js" asp-append-version="true"></script>
        <script src="~/js/Login.js" asp-append-version="true"></script>
        <script src="~/js/Home.js" asp-append-version="true"></script>
        <script src="~/js/Header.js" asp-append-version="true"></script>
        <script src="~/js/Story.js" asp-append-version="true"></script>
        <script src="~/js/Profile.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
