<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - shortstories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/header.css" />
        <link rel="stylesheet" href="~/css/profile.css" />
        <link rel="stylesheet" href="~/css/story.css" />
    </environment>
</head>
<body onload="pageLoadFunction()">
    @await Component.InvokeAsync("Header")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Component.InvokeAsync("Footer")
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDce1gieOtJHvS4a3wOF1__2z6jXbnA_NI",
            authDomain: "shortstories-auth.firebaseapp.com",
            databaseURL: "https://shortstories-auth.firebaseio.com",
            projectId: "shortstories-auth",
            storageBucket: "shortstories-auth.appspot.com",
            messagingSenderId: "1087906798602",
            appId: "1:1087906798602:web:f007252c9ae7bb835393f3",
            measurementId: "G-XD67708PJ3"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        //Global object auth
        const auth = firebase.auth();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/firebaseFunctions.js" asp-append-version="true"></script>
        <script src="~/js/eventListenersFunctions.js" asp-append-version="true"></script>
        <script src="~/js/Register.js" asp-append-version="true"></script>
        <script src="~/js/Login.js" asp-append-version="true"></script>
        <script src="~/js/Home.js" asp-append-version="true"></script>
        <script src="~/js/Header.js" asp-append-version="true"></script>
        <script src="~/js/Story.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
