@{
}

<div class="mt-4 mb-4">
    <h1 class="mb-3">Login</h1>
    <form id="login_form">
        <div class="form-group">
            <label for="login_form_email_address">Email address</label>
            <input type="email" id="login_form_email_address" name="login_form_email_address" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="login_form_password">Password</label>
            <input type="password" id="login_form_password" name="login_form_password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>