
@{
    ViewData["Title"] = "index";
}

    <div id="settings-page" class="mt-4">
            <h2 class="text-muted">Settings</h2>
            <div class="settings-user-details-container mt-4 mb-4">
                <div class="border-bottom mt-4 mb-4">
                    <h3 class="d-inline-block">User Details</h3>
                </div>
                <form id="settings-user-details-form">
                    <div class="form-group">
                        <label for="settings-form-username">Change Username</label>
                        <input type="text" name="settings-form-username" class="form-control" placeholder="Username" disabled>
                        <small id="usernameHelp" class="form-text text-muted">Cannot change username.</small>
                    </div>
                    <div class="form-group">
                        <label for="settings-form-email">Change Email Address</label>
                        <input type="email" id="settings-form-email" name="settings-form-email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                        <small id="emailHelp" class="form-text text-muted">Must be a valid email.</small>
                    </div>
                    <div class="form-group">
                        <label for="settings-form-password">Change Password</label>
                        <input type="password" id="settings-form-password" name="settings-form-password" class="form-control" placeholder="Password">
                        <small id="passwordHelp" class="form-text text-muted">Must be at least 6 characters.</small>
                    </div>
                    <button type="submit" id="settings-update-user-button" class="btn btn-outline-primary">Update User</button>
                </form>
            </div>
            <div class="settings-profile-details-container mt-4 mb-4">
                <div class="border-bottom mt-4 mb-4">
                    <h3 class="d-inline-block">Profile Details</h3>
                </div>
                <form id="setings-profile-details-form" onsubmit="return false;">
                    <div class="form-group">
                        <label class="d-block">Change Current Avatar</label>
                        <img class="settings-avatar p-2 m-1" style="height: 80px; width: 80px; cursor: pointer;" src="~/images/animal-kingdom.png" alt="animal-kingdom" />
                        <img class="settings-avatar p-2 m-1" style="height: 80px; width: 80px; cursor: pointer;" src="~/images/cat.png" alt="cat" />
                        <img class="settings-avatar p-2 m-1" style="height: 80px; width: 80px; cursor: pointer;" src="~/images/pet-shop.png" alt="pet-shop" />
                        <img class="settings-avatar p-2 m-1" style="height: 80px; width: 80px; cursor: pointer;" src="~/images/slow.png" alt="slow" />
                        <div class="text-muted">
                            Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="settings-writer-label">Change Writer Label</label>
                        <select multiple class="form-control" id="settings-writer-label" name="settings-writer-label">
                            <option class="settings-option settings-option-Beginner">Beginner</option>
                            <option class="settings-option settings-option-Hobbyist">Hobbyist</option>
                            <option class="settings-option settings-option-Enthusiast">Enthusiast</option>
                            <option class="settings-option settings-option-Professional">Professional</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="settings-writer-description">Change Profile Description</label>
                        <textarea class="form-control" id="settings-writer-description" name="settings-writer-description" rows="3" placeholder="Optional"></textarea>
                    </div>
                    <button type="submit" id="settings-update-profile-button" class="btn btn-outline-primary">Update Profile</button>
                </form>
            </div>
            <div class="settings-story-details-container mt-4 mb-4">
                <div class="border-bottom mt-4 mb-4">
                    <h3 class="d-inline-block">Story Details</h3>
                </div>
                <div id="settings-stories-container">
                </div>
            </div>
        </div>

