
.header-unauthenticated {
    display: block;
}

.header-authenticated {
    display: none;
}

.header-user-details {
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-left: 5px;
}

#header-username {
    margin-right: 8px;
    font-size: 20px;
}

#header-logout {
    font-size: 18px;
    color: whitesmoke;
}