.login-validation {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 8px;
}

#login-validation-email {
    display: none;
}

#login-validation-password {
    display: none;
}
