.profile-hide-button {
    display: none;
}

#profile-stories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

@media screen and (min-width: 700px) {
    #profile-stories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 950px) {
    #profile-stories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1300px) {
    #profile-stories {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1800px) {
    #profile-stories {
        grid-template-columns: repeat(5, 1fr);
    }
}