.create-story-chapter-checkbox-container {
    display: flex;
}

.create-story-lighter-text {
    color: rgba(0,0,0,0.7);
}

#create-story-story-content-container {
    display: none;
}

#create-story-chapters-container {
    display: none;
}

.create-story-chapter-container {
    position: relative;
}

.la-times-circle {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 28px;
    cursor: pointer;
}

#create-story-submit-container {
    display: none;
}

.display-story-content-container {
    max-height: 100vh;
    overflow: auto;
}

.display-story-chapter-content-container {
    display: none;
    max-height: 100vh;
    overflow: auto;
}

.display-story-displayer {
    display: block !important;
}

.la-caret-square-right {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 46px;
    cursor: pointer;
}

.la-caret-square-left {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 46px;
    cursor: pointer;
}