/*Create Story Page (Start)*/
.create-story-chapter-checkbox-container {
    display: flex;
}

.create-story-lighter-text {
    color: rgba(0,0,0,0.7);
}

#create-story-story-content-container {
    display: none;
}

#create-story-chapters-container {
    display: none;
}

.create-story-chapter-container {
    position: relative;
}

#create-story-submit-container {
    display: none;
}

.create-story-individual-genres {
}

.create-story-validation {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 8px;
}

#create-story-validation-title {
    display: none;
}

#create-story-validation-headline {
    display: none;
}

#create-story-validation-tags {
    display: none;
}

#create-story-validation-genres {
    display: none;
}

#create-story-validation-checkbox {
    display: none;
}

#create-story-validation-story-content {
    display: none;
}

/*Create Story Page (End)*/

/*Display story page (start)*/
#story-view-page {
}

.display-story-main-container {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.display-story-content-container {
    max-height: 100vh;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
    text-wrap: normal;
}

.display-story-chapter-content-container {
    display: none;
    max-height: 100vh;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
}

.display-story-displayer {
    display: block !important;
}

.la-caret-square-right {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 46px;
    cursor: pointer;
}

.la-caret-square-left {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 46px;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .display-story-main-container {
        grid-template-columns: 25% 75%;
    }
}

/*Display store page (end)*/